websocket-client==1.6.4
Pillow==10.0.1
python-dotenv==1.0.0
loguru==0.7.2
asyncio-mqtt==0.13.0
azure-cognitiveservices-vision-computervision==0.9.0
kafka-python==2.0.2
azure-eventhub==5.11.4
flask==3.0.0
requests==2.31.0
